.main-container{
    margin-top: 50px;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    height: auto;
    margin-bottom: 50px;
}
.image-container{
    flex: 50%;
    justify-content: center;
    align-items: center;
}
.creator-container{
    flex: 50%;
    padding: 20px;
}
.creator-sub-container{
    padding: 30px;
    margin: 0px 20px 0px 20px;
}
.creator-name{
    width: 100%;
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 15px;
}
.creator-prof{
    width: 100%;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 1.18px;
    color: #a1a1a1;
    font-weight: lighter;
}
.creator-desc{
    margin-bottom: 15px;
    width: 100%;
    /* text-align: justify; */
    height: auto;
    font-size: 14px;
    line-height: 24px;
    color: #696969;
}


@media only screen

and (min-device-width: 350px)

and (max-device-width: 667px){

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
     }
     .main-container{
        display:block;
    }
    .image-container{
        flex-direction: column; 
        display:flex; 
        text-align: center;
    }
    .creator-container{
        padding: 50px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .creator-image{
        width: 350px;
        height:auto;
    }


}
@media screen and (min-width:667px)and (max-width:1023px){
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
     }
     .main-container{
        display:block;
    }
    .image-container{
        text-align: center;
        display:block;
    }
    .creator-container{
        /* padding: 50px; */
        margin: 0px 10px 0px 10px;
    }
    .creator-image{
        width: 250px;
        height:auto;
    }

}