*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
    margin: 40px 50px 40px 50px;
    height: auto;
}

.image-container{
    width: 50%;
}

.image-sub-container{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.creator-image{
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.creator-container{
    width: 50%;
    margin: auto 0px auto 0px;
    justify-content: center;
    align-items: center;
}

.creator-sub-container{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.creator-name{
    padding: 8px;
    font-size: 19px;
    padding: 8px;
    font-weight: 900;
}

.creator-profession{
    padding: 8px;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 1.18px;
    color: #a1a1a1;
    font-weight: lighter;
}

.creator-description{
    padding: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #696969;
}



/* Mobile View */
@media screen and (min-width: 150px) and (max-width: 480px){
    .main-container{
        display: flex;
        flex-direction: column;
        margin: 40px 10px 40px 10px;
        height: auto;
    }

    .image-container{
        width: 100%;
    }

    .creator-image{
        width: 100%;
        height: 400px;
        object-fit: contain;
    }

    .creator-container{
        width: 100%;
        padding: 10px;
        /* margin: 0 auto; */
        display: flex;  /* to make the child div centered */
        align-items: center;
        justify-content: center;
    }

    .creator-sub-container{
        padding: 5px;
    }
    
    .creator-name{
        padding: 6px;
        font-size: 19px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
    .creator-profession{
        padding: 6px;
        font-size: 12px;
        margin-bottom: 10px;
        letter-spacing: 1.18px;
        color: #a1a1a1;
        font-weight: lighter;
    }
    
    .creator-description{
        padding: 6px;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
        color: #696969;
    }
}





/* for Ipads and Tablets */
@media screen and (min-width: 481px) and (max-width: 900px){
    .main-container{
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 10px;
        height: auto;
    }

    .image-container{
        width: 100%;
    }

    .creator-image{
        width: 100%;
        height: 500px;
        object-fit: contain;
    }

    .creator-container{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    .creator-sub-container{
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .creator-name{
        padding: 6px;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
    .creator-profession{
        padding: 6px;
        font-size: 12px;
        margin-bottom: 10px;
        letter-spacing: 1.18px;
        color: #a1a1a1;
        font-weight: lighter;
    }
    
    .creator-description{
        padding: 6px;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 10px;
        color: #696969;
    }
}

/* 
@media only screen and (min-width: 1000px) {
    html {
      zoom: 1;
    }
  } */